<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h1>Conversation avec <%= character_name + " de " + game_name%></h1>
    </div>
    <div class="chat-messages">
    </div>
    <div class="chat-input">
        <form id="form">
            <input id="input" type="text" placeholder="Rentrez votre message...">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>

<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script>
    var socket = io();

    var form = document.getElementById('form');
    var input = document.getElementById('input');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {

            const message = `<div class="message-container">
            <div class="message-bubble me">
                <%= initial %>  : ${input.value}
            </div>
        </div>`;
            const chatMessages = document.querySelector('.chat-messages')
            chatMessages.insertAdjacentHTML('beforeend', message);

            socket.emit('chat message', input.value, <%= character_id %>);
            input.value = '';
        }
    });

    socket.on('chat receive', function(msg){
        const message = `<div class="message-container">
            <div class="message-bubble you">
                <%= character_name + " : " %> ${msg}
            </div>
        </div>`;
        const chatMessages = document.querySelector('.chat-messages')
        chatMessages.insertAdjacentHTML('beforeend', message);
    });

</script>
</body>
</html>
