<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h1>Chat</h1>
    </div>
    <div class="chat-messages">
        <div class="message-container">
            <div class="message-bubble me">
                <%= initial %>  : Bonjour
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble you">
                Bonjour
            </div>
        </div>
        <div class="message-container">
            <div class="message-bubble you">
                Bonjour
            </div>
        </div>
    </div>
    <div class="chat-input">
        <form>
            <input type="text" placeholder="Rentrez votre message...">
            <button type="submit">Envoyer</button>
        </form>
    </div>
</div>
</body>
</html>
