<!DOCTYPE html>
<html>
<head>
    <title>Jeu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
<div class="container games">
    <div class="row">
        <div class="col-lg-6 my-auto">
<!--            <h2 class="text-center">Sélectionner un jeu vidéo</h2>-->
<!--            <div class="form-group">-->
<!--                <select id="select-game" class="form-control">-->
<!--                    <option value="">Sélectionnez un jeu</option>-->
<!--                    &lt;!&ndash; Insérez les options pour les jeux ici &ndash;&gt;-->
<!--                </select>-->
<!--            </div>-->
            <h2 class="text-center">Sélectionner un personnage</h2>
            <div class="form-group">
                <form action="/games_options" method="post">
                    <select id="select-character" name="selected_character" class="form-control">
                       <% if (characters) { %>
                            <option value="">Sélectionnez un personnage</option>
                            <% for(var i=0; i<characters.length ; i++) { %>
                                <option value="<%= characters[i].ID %>"><%= characters[i].name + " - " + characters[i].game_name %></option>
                            <% } %>
                       <% }
                        else { %>
                               <option value="">Aucun personnage</option>
                        <% } %>
                    </select>
                    <br>
                    <br>
                    <br>
                        <button class="btn btn-primary" type="submit">Choisir</button>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">Créer un jeu vidéo</h2>
            <form action="/games_options" method="post">
                <div class="form-group">
                    <label for="game-name">Nom du jeu :</label>
                    <input type="text" class="form-control" id="game_name" name="game_name">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Créer</button>
                </div>
            </form>
            <br>
            <br>
            <h2 class="text-center">Créer un personnage</h2>
            <form action="/games_options" method="post">
                <div class="form-group">
                    <label for="character-name">Nom du personnage :</label>
                    <input type="text" class="form-control" id="character-name" name="character_name">
                </div>
                <div class="form-group">
                    <label for="character-game">Jeu vidéo associé :</label>
                    <select id="character-game" name="character_game" class="form-control">
                        <% if (games) { %>
                            <option value="">Sélectionnez un jeu</option>
                        <% for(var i=0; i<games.length ; i++) { %>
                        <option value="<%= games[i].ID %>"><%= games[i].name %></option>
                        <% } %>
                        <% }
                        else { %>
                            <option value="">Aucun jeu</option>
                        <% } %>
                    </select>
                    <br>
                    <br>
                    <button class="btn btn-primary" type="submit">Créer</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
